pkgbase = scopehal-apps-git
	pkgdesc = ngscopeclient and other client applications for libscopehal
	pkgver = 0.0.a00dc9c
	pkgrel = 1
	url = https://github.com/glscopeclient/scopehal-apps
	arch = x86_64
	license = BSD
	makedepends = cmake
	makedepends = git
	makedepends = vulkan-headers
	depends = gtkmm3
	depends = libsigc++
	depends = ffts
	depends = openmp
	depends = glfw
	depends = libvulkan.so
	depends = yaml-cpp
	depends = glew
	depends = catch2
	depends = spirv-tools
	depends = shaderc
	optdepends = liblxi: LXI transport support
	optdepends = libtirpc: LXI transport dependency
	optdepends = linux-gpib: GPIB transport support
	source = git+https://github.com/glscopeclient/scopehal-apps.git
	source = git+https://github.com/glscopeclient/scopehal.git
	source = git+https://github.com/glscopeclient/xptools.git
	source = git+https://github.com/glscopeclient/logtools.git
	source = git+https://github.com/glscopeclient/VkFFT.git
	source = git+https://github.com/glscopeclient/scopehal-docs.git
	source = git+https://github.com/ocornut/imgui.git
	source = git+https://github.com/glscopeclient/implot.git
	source = git+https://github.com/glscopeclient/imgui-node-editor.git
	source = git+https://github.com/aiekick/ImGuiFileDialog
	source = git+https://github.com/btzy/nativefiledialog-extended
	source = target_link_libraries.patch
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 106a6a1873bbb8e0038e461f9be457c96c756f8e008a95729d3f5fbcaf8cc856

pkgname = scopehal-apps-git
