pkgbase = scopehal-apps-git
	pkgdesc = glscopeclient and other client applications for libscopehal
	pkgver = 0.0.bf81dbc
	pkgrel = 1
	url = https://github.com/glscopeclient/scopehal-apps
	arch = x86_64
	license = BSD
	makedepends = cmake
	makedepends = git
	makedepends = vulkan-headers
	depends = gtkmm3
	depends = libsigc++
	depends = ffts
	depends = openmp
	depends = glfw
	depends = libvulkan.so
	depends = yaml-cpp
	depends = glew
	depends = catch2
	depends = spirv-tools
	depends = shaderc
	depends = liblxi
	depends = linux-gpib
	source = git+https://github.com/glscopeclient/scopehal-apps.git
	source = modules.patch
	source = target_link_libraries.patch
	sha256sums = SKIP
	sha256sums = 7a8303cde3b76f012e54e5e0944590a8ffcca4d0481c250534c7b76e1e2233be
	sha256sums = b8d421b77c84f86158cc9f6c2d623f0bd2a61aea66cb01f715ee5f36e4d1c61d

pkgname = scopehal-apps-git
