pkgbase = scopehal-apps-git
	pkgdesc = glscopeclient and other client applications for libscopehal
	pkgver = 0.0.bf81dbc
	pkgrel = 1
	url = https://github.com/glscopeclient/scopehal-apps
	arch = x86_64
	license = BSD
	makedepends = cmake
	makedepends = git
	makedepends = vulkan-headers
	depends = gtkmm3
	depends = libsigc++
	depends = ffts
	depends = openmp
	depends = glfw
	depends = libvulkan.so
	depends = yaml-cpp
	depends = glew
	depends = catch2
	depends = spirv-tools
	depends = shaderc
	depends = liblxi
	depends = linux-gpib
	source = git+https://github.com/glscopeclient/scopehal-apps.git
	source = git+https://github.com/glscopeclient/scopehal.git
	source = git+https://github.com/glscopeclient/xptools.git
	source = git+https://github.com/glscopeclient/logtools.git
	source = git+https://github.com/glscopeclient/graphwidget.git
	source = git+https://github.com/glscopeclient/VkFFT.git
	source = git+https://github.com/glscopeclient/scopehal-docs.git
	source = git+https://github.com/ocornut/imgui.git
	source = git+https://github.com/glscopeclient/implot.git
	source = git+https://github.com/glscopeclient/imgui-node-editor.git
	source = git+https://github.com/aiekick/ImGuiFileDialog
	source = git+https://github.com/btzy/nativefiledialog-extended
	source = target_link_libraries.patch
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 39459c2f5b67968ca9b743e335026dc280e340ed6e3e4091ac26afd7d709f290

pkgname = scopehal-apps-git
